<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="6" 
android:versionName="1.2.3 Beta"
  	package="org.androidtitlan.geotaskmanager" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:icon="@drawable/logo" android:label="@string/app_name"
    android:name=".GeoTaskManagerApplication"
    android:theme="@style/Theme.GeoTaskManager">
    <uses-library android:name="com.google.android.maps"/>
    
        <activity android:name=".ViewTasksActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
	<activity android:name=".AddTaskActivity"/>
    <activity android:name=".TaskManagerActivity"/>
    <activity android:name=".AddLocationMapActivity" android:text="string/add_location_to_task" />
    <!-- The application's publisher ID assigned by AdMob -->
<meta-data android:value="a14c91ee711ec71" android:name="ADMOB_PUBLISHER_ID" />
    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 

